{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Categories</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Libelle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{categorie.libelle}}</th>
                <td align="center"><a href="#" class="btn btn-success">Voir les articles</a></th>
            </tr>
        {% endfor %}
        </tbody>
        <tfooter>
            <tr>
                <td></th>
                <td align="center"><a href="addCategories" class="btn btn-primary">Ajouter une categories</a></th>
            </tr>
        </tfooter>
    </table>
</div>
{% endblock %}
