{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h1>Article ✅</h1>
    </div>
    {% for article in articles %}
        <div >{{ article.titre}}</div>
        <div>{{ article.contenu}}</div>
        <div>{{ article.datecreation | date("d/m/Y H:i:s")}}</div>
        {% for categorie in article.getCategories %}
        <div>{{ categorie.libelle }} </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
